#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/fa2e5b1c-82fb-453b-bcd8-14dea3c93abe/ # 
title: RetailApi

/Products:
  get:
    description: fetches all lists of product data
    responses:
      200:
        body:
          application/json:
            example: |
            
            
             [
                {
                  "barCodeId": "?",
                   "id": "2",
                   "name": "?",
                   "productCategory": "?",
                   "rate": "0.0"
               },
               {
                 "barCodeId": "123343215",
                 "id": "7",
                 "name": "orange",
                  "productCategory": "Fruit",
                "rate": "10.0"
                },
               {
                 "barCodeId": "string",
                  "id": "8",
                  "name": "string",
                   "productCategory": "string",
                  "rate": "0.0"
                },
               {
                  "barCodeId": "102020212",
                  "id": "44",
                  "name": "apple",
                   "productCategory": "computer",
                   "rate": "5.0"
                   },
                {
                  "barCodeId": "BARCODE",
                  "id": "53",
                  "name": "Laptop",
                   "productCategory": "Electronics",
                  "rate": "559.99"
                 },
                {
                   "barCodeId": "bar_code_1",
                   "id": "71",
                   "name": "Laptop",
                   "productCategory": "Electronics",
                    "rate": "559.99"
                    },
                 {
                    "barCodeId": "bar_code_2",
                    "id": "75",
                    "name": "Laptop",
                    "productCategory": "Electronics",
                     "rate": "559.99"
                     },
                   {
                     "barCodeId": "bar_code_4",
                       "id": "76",
                        "name": "Laptop",
                       "productCategory": "Electronics",
                     "rate": "559.99"
                     },
        
                    {
                    "barCodeId": "bar_code_6",
                        "id": "79",
                         "name": "Laptop",
                    "productCategory": "Electronics",
                   "rate": "559.99"
                    },
                     {
                         "barCodeId": "bar_code_7",
                           "id": "81",
                        "name": "Laptop",
                         "productCategory": "Electronics",
                          "rate": "559.99"
                      },
                       {
                           "barCodeId": "bar_code_8",
                            "id": "82",
                            "name": "Laptop",
                             "productCategory": "Electronics",
                            "rate": "559.99"
                        },
      
                          {
                          "barCodeId": "5656AH",
                            "id": "168",
                      "name": "Ethiopia",
                   "productCategory": "AAAABBB",
                   "rate": "0.0"
                 },
       
              ]
      404:
        body:
          application/json:
            examples:
              {"massage":"not found"}
        
  /{id}:
    description: fetches the data of single product
    get:
      responses:
        200:
          body:
            application/json:
              examples:
                { "barCodeId": "bar_code_7",
                           "id": "81",
                        "name": "Laptop",
                         "productCategory": "Electronics",
                          "rate": "559.99"
                }
        404:
          body:
            application/json:
              examples:
                {"massage":"not found"}        
    put:
      responses:
        200:
          body:
            application/json:
              examples:
                 {"barCodeId": "bar_code_8",
                            "id": "82",
                            "name": "Laptop",
                             "productCategory": "Electronics",
                            "rate": "559.99"
                 }
        404:
          body:
            application/json:
              examples:
                 {"massage":"not found"}   
    delete:
      description: deletes the data of the selected item
      responses:
        200:
          body:
            application/json:
              examples:
                {"massage":"the selected item has succesfully delated"}
        404:
          body:
            application/json:
              examples:
                {"massge":"item  not found"}
  post:
    description: creates new data to the product data
    responses:
      201:
        body:
          application/json:
            examples:
              {"barCodeId": "bar_code_1000",
                            "id": "1000",
                            "name": "Laptop",
                             "productCategory": "Electronics",
                            "rate": "559.99"
                }
      404:
        body:
          application/json:
            examples:
              {"massage":"couldnot update"}  
/Bills:
  get:
    description: fetches the list of all Bill data
    responses:
      200:
        body:
          application/json:
            example: |
       
              [
                
                {
                  "id":1,
                  "Bil Typ":"gas bill",
                  "dayly bill":"20",
                  "Monthly bill":"1000"
                },
                  
                { "id":2,
                  "Bill Type":"cellphone Bill",
                  "monthly bill":"80",
                  "Anual Bill":" 80 * 12 = 960"
                  
                }
                ,

                {"id":3,
                  "Bill Type":"Transportation",
                  "bus ":"50",
                  "uber":"200",
                  "lyft":"150",
                  "Total Bill":"400"
                },
                {"id":4,
                  "Bill Type":"house rent",
                  "monthly":"1000",
                  "yearly rent":"12,000",
                  "Total":"12,000"
                  },
                { "id":5,
                  "Bill type ":"drinks",
                  "Birr":"100",
                  
                  "vodka":"200",
                  "total":"300"
                }
              ]
  /{id}:
    get:
      description: fetches the data of the silgle Bill by id
      responses:
        200:
          body:
            application/json:
              example:
                {
                  "id":4,
                  "Bill Type":"house rent",
                  "monthly":"1000",
                  "yearly rent":"12,000",
                  "Total":"12,000"
                }          
        404:
          body:
            application/json:
              examples:
                {"massage":"item not found"}
    put:
      description: updates the data of the selected bill data
      responses:
        200:
          body:
            application/json:
              examples:
                {
                  "id":3,
                  "Bill Type":"Transportation",
                  "bus ":"1000",
                  "uber":"2000",
                  "lyft":"3000",
                  "Total Bill":"6000"
                }
        404:
          body:
            application/json:
              examples:
                {"massage":"not found"}
    delete:
      description: deleted the data of the selected bill data
      responses:
        200:
          body:
            application/json:
              examples:
                {"massage":"the data is succes fully deleted"}
        404:
          body:
            application/json:
              examples:
  
               {"massage":"not found"}
  post:
    description: creates new bill data
    responses:
      201:
        body:
          application/json:
            examples:
               { "id":6,
                  "Bill Type":"clothes",
                  "jacket":"4000",
                  "shoes":" 2000",
                  "total":"6000"
                  
                }
      404:
        body:
          application/json:
            examples:
              {"massage":"not found"}
/productcatagory:
  get:
    description: feteches lists of data of productcatagory
    responses:
      200:
        body:
          application/json:

            example: |
            
              [ {
                  "id": "4",
                  "name": "?"
                  },
                 {
                     "id": "6",
                      "name": "?"
                       },
                      {
                     "id": "10",
                     "name": "?"
                       },
                         {
                        "id": "43",
                       "name": "?"
                       },
                     {
                    "id": "101",
                      "name": "TV"
                     },
                    {
                     "id": "102",
                      "name": "TV"
                      },
                      {
                        "id": "155",
                         "name": "watermillon"
                       }
              ]

      404:
        body:
          application/json:
            examples:
              {"massage":"not found"}
  /{id}:
    get:
      description: feteches the a single data of product category
      responses:
        200:
          body:
            application/json:
              examples:
                
                  {
                        "id": "155",
                         "name": "watermillon"
                       }
                  
                
        404:
          body:
            application/json:
              examples:
                {"massage":"not found"}
    put:
      description: updates the selected data of product category
      responses:
        200:
          body:
            application/json:
              examples:
                {"id":101,
                  "name ":"hair oil"
                  
                }
        404:
          body:
            application/json:
              examples:
                {"massage":"not found"}
    delete:
      description: deletes the selected data of product category
      responses:
        200:
          body:
            application/json:
              examples:
                {"massage":"data is success fully deleted"}
        404:
          body:
            application/json:
              examples:
                {"massage":"not found"}
  post:
    description: creates new data of product category
    responses:
      200:
        body:
          application/json:
            examples:
              {
                "id":12,
                  "name ":"medicin"
                  
                }
      404:
        body:
          application/json:
            examples:
              {"massage":"not found"}
              

                          
                
            
                
              
                
              
              

          

              