#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/fbde264f-7c20-42b0-b789-7b0aacf956d2/ # 
title: RetailApi

/Products:
  get:
    description: fetches all lists of product data
    responses:
      200:
        body:
          application/json:
            example: |
            
              [
                {
                  "id":1,
                  "proNam":"teff",
                  "unit":"quintal",
                  "qulity":"rergegna",
                  "price":"10 000"
                },
                { "id":2,
                  "proNam":"zangada",
                  "unit":"quintal",
                  "qulity":"key zengada",
                  "price":"17 000"
                },
                {"id":3,
                  "proNam":"bekelo",
                  "unit":"quintal",
                  "qulity":"yekola",
                  "price":"17 000"
                },
                {"id":4,
                  "proNam":"selit",
                  "unit":"quintal",
                  "qulity":"yehumera",
                  "price":"24 000"
                  },
                { "id":5,
                  "proNam":"berberie",
                  "unit":"quintal",
                  
                  "qulity":"yager wust",
                  "price":"1000"
                }
              ]
      404:
        body:
          application/json:
            examples:
              {"massage":"not found"}
        
  /{id}:
    description: fetches the data of single product
    get:
      responses:
        200:
          body:
            application/json:
              examples:
                {
                   "id":4,
                  "proNam":"zeyit",
                  "unit":"be jerican",
                  "qulity":"yager wust",
                  "price":"1000"
                }
        404:
          body:
            application/json:
              examples:
                {"massage":"not found"}        
    put:
      responses:
        200:
          body:
            application/json:
              examples:
                 {"proNam":"zeyit",
                  "unit":"be jerican",
                  "qulity":"yager wust",
                  "price":"50 000"}  
        404:
          body:
            application/json:
              examples:
                 {"massage":"not found"}   
    delete:
      description: deletes the data of the selected item
      responses:
        200:
          body:
            application/json:
              examples:
                {"massage":"the selected item has succesfully delated"}
        404:
          body:
            application/json:
              examples:
                {"massge":"item  not found"}
  post:
    description: creates new data to the product data
    responses:
      201:
        body:
          application/json:
            examples:
              {"id":6,
                  "proNam":"bekelo",
                  "unit":"quintal",
                  "qulity":"yekola",
                  "price":"17 000"
                }
      404:
        body:
          application/json:
            examples:
              {"massage":"couldnot update"}  
/Bills:
  get:
    description: fetches the list of all Bill data
    responses:
      200:
        body:
          application/json:
            example: |
       
              [
                
                {
                  "id":1,
                  "Bil Typ":"gas bill",
                  "dayly bill":"20",
                  "Monthly bill":"1000"
                },
                  
                { "id":2,
                  "Bill Type":"cellphone Bill",
                  "monthly bill":"80",
                  "Anual Bill":" 80 * 12 = 960"
                  
                }
                ,

                {"id":3,
                  "Bill Type":"Transportation",
                  "bus ":"50",
                  "uber":"200",
                  "lyft":"150",
                  "Total Bill":"400"
                },
                {"id":4,
                  "Bill Type":"house rent",
                  "monthly":"1000",
                  "yearly rent":"12,000",
                  "Total":"12,000"
                  },
                { "id":5,
                  "Bill type ":"drinks",
                  "Birr":"100",
                  
                  "vodka":"200",
                  "total":"300"
                }
              ]
  /{id}:
    get:
      description: fetches the data of the silgle Bill by id
      responses:
        200:
          body:
            application/json:
              example:
                {
                  "id":4,
                  "Bill Type":"house rent",
                  "monthly":"1000",
                  "yearly rent":"12,000",
                  "Total":"12,000"
                }          
        404:
          body:
            application/json:
              examples:
                {"massage":"item not found"}
    put:
      description: updates the data of the selected bill data
      responses:
        200:
          body:
            application/json:
              examples:
                {
                  "id":3,
                  "Bill Type":"Transportation",
                  "bus ":"1000",
                  "uber":"2000",
                  "lyft":"3000",
                  "Total Bill":"6000"
                }
        404:
          body:
            application/json:
              examples:
                {"massage":"not found"}
    delete:
      description: deleted the data of the selected bill data
      responses:
        200:
          body:
            application/json:
              examples:
                {"massage":"the data is succes fully deleted"}
        404:
          body:
            application/json:
              examples:
  
               {"massage":"not found"}
  post:
    description: creates new bill data
    responses:
      201:
        body:
          application/json:
            examples:
               { "id":6,
                  "Bill Type":"clothes",
                  "jacket":"4000",
                  "shoes":" 2000",
                  "total":"6000"
                  
                }
      404:
        body:
          application/json:
            examples:
              {"massage":"not found"}
/productcatagory:
  get:
    description: feteches lists of data of productcatagory
    responses:
      200:
        body:
          application/json:

            example: |
            
              [
                {
                  "id":1,
                  "product catagory":"food"
                 
                },
                { "id":2,
                  "product catagory":"garment"
                  
                },
                {"id":3,
                  "product category ":"food oil"
                  
                },
                {"id":4,
                  "product category":"drinks"
                  
                  },
                { "id":5,
                  "product category":"cigaretee"
                  
                }
              ]
      404:
        body:
          application/json:
            examples:
              {"massage":"not found"}
  /{id}:
    get:
      description: feteches the a single data of product category
      responses:
        200:
          body:
            application/json:
              examples:
                {
                  "id":3,
                  "product category ":"food oil"
                  
                }
        404:
          body:
            application/json:
              examples:
                {"massage":"not found"}
    put:
      description: updates the selected data of product category
      responses:
        200:
          body:
            application/json:
              examples:
                {"id":3,
                  "product category ":"hair oil"
                  
                }
        404:
          body:
            application/json:
              examples:
                {"massage":"not found"}
    delete:
      description: deletes the selected data of product category
      responses:
        200:
          body:
            application/json:
              examples:
                {"massage":"data is success fully deleted"}
        404:
          body:
            application/json:
              examples:
                {"massage":"not found"}
  post:
    description: creates new data of product category
    responses:
      200:
        body:
          application/json:
            examples:
              {
                "id":6,
                  "product category ":"medicin"
                  
                }
      404:
        body:
          application/json:
            examples:
              {"massage":"not found"}
              

                          
                
            
                
              
                
              
              

          

              